body {
    background: #234;
    color: white;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    overflow: hidden;
}

a.button {
  display: inline block;
  padding: 3px 7px;
  margin: 8px;
  height: 30px;
  background: #000;
  color: white;
  text-decoration: none;
  border: 2px solid #39F;
  border-radius: 5px;
}


a.button:hover {
  background: #157;
  border: 2px solid #39F;
}

.vfo-display {  
    border-style: solid;
    border-color: black;
    border-width:3px;
    background: black;
    padding-right: 6px;
 	  display:inline-block;
}

